section#Home.container-fluid
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                  span.sr-only Toggle navigation       
                  span.icon-bar           
                  span.icon-bar           
                  span.icon-bar
             
                a#contact-button.navbar-brand(data-bind='click: toggleContact;') Contact Me

            .collapse.navbar-collapse.navbar-right.navbar-ex1-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/#/#Jumbotron') Home            
                    li
                        a(href='/#/#About') About
                    li
                        a(href='/#/#Portfolio') Projects 
                    li
                        a(href='https://drive.google.com/open?id=0B22DJ_I0FYO8QmJFZHQ2LTAydTA' target="_blank") Resume            
                    li
                        a(href='https://haihuynhlam.wordpress.com' target="_blank") Blog

            form#contact-form(role='form' style="display: none" data-bind="slideVisible: showContact;")
                .form-group.contact-info
                    span.glyphicon.glyphicon-pencil
                        a(href='mailto:hhuynhlam@gmail.com') &nbsp; hhuynhlam@gmail.com


    //- Jumbotron
    #Jumbotron.intro-header
        .container
            .row
              .col-lg-12
                .intro-message
                  h1 Hai Huynhlam              
                  hr.intro-divider             
                  h3.hidden-xs Software Engineer                  
                  ul.list-inline.intro-social-buttons
                    li
                      a.btn.btn-default.btn-lg.network-name(href='/#/#Portfolio') View My Portfolio                        
                    li
                      a.btn.btn-default.btn-lg.network-name(href='https://drive.google.com/open?id=0B22DJ_I0FYO8QmJFZHQ2LTAydTA', target='_blank') View My Resume

    //- About
    #About.about
        .container
            .row
              .col-sm-6.col-sm-push-6.col-xs-12
                hr.section-heading-spacer              
                .clearfix          
                h2.section-heading About Me             
                p.lead
                  | A forward thinking Web Engineer with 5+ years of front­-end experience driving delivery of high­-quality, modular, maintainable and scalable user­-centered systems. A multi­-disciplined developer who can create pixel perfect web pages from wireframes, build server­-side API systems from scratch and engineer continuous integration flows that ensure code quality and development efficiency. A consummate teammate who thrives on learning, teaching and performing with rockstar talent.

              .col-sm-6.col-sm-pull-6.col-xs-12.img-container
                img.img-responsive(src='public/images/about.jpg', alt='')

    //- Portfolio
    #Portfolio.portfolio
        .container
            .row
              .col-lg-12.text-center
                hr.section-heading-spacer               
                .clearfix            
                h2.section-heading Featured Projects

                // begin projects
                .row
                  div(style='display: inline-block;')
                    a(href='http://clubs.uci.edu/aphio/beta/client/#/', target='_blank')
                      img(src='/public/images/projects/apo_thumb.png')
                  |                     
                  div(style='display: inline-block;')
                    a(href='https://eros-dev.herokuapp.com/#/', target='_blank')
                      img(src='/public/images/projects/eros_thumb.png')

                .row
                  div(style='display: inline-block;')
                    a(href='http://peakpowerus.com/', target='_blank')
                      img(src='/public/images/projects/peak_thumb.png')
                  div(style='display: inline-block;')
                    a(href='http://roomzdesign.com/', target='_blank')
                      img(src='/public/images/projects/roomz_thumb.png')
                // end projects

                br
                br
                    
                p.lead
                  | To view a complete list of my projects, please see my github repository: 
                  a(href='https://github.com/hhuynhlam', target='_blank') github.com/hhuynhlam
                  | .

    //- Banner
    #Banner.banner
        .container
            .row
              .col-lg-6
                h2 Professional Network:
              
              .col-xs-12.col-lg-6
                ul.list-inline.banner-social-buttons
                  li
                    a.btn.btn-default.btn-lg(href='http://www.linkedin.com/pub/hai-huynhlam/28/169/670', target='_blank')
                      i.fa.fa-linkedin.fa-fw                            
                      span.network-name Linkedin
