include styleguide.nav.jade

section#StyleGuideKendo
    .container
        
        h1 Kendo UI Style Guide

        .row
            .col-lg-12
          
              h3 Dropdown
              #KendoDropDownList         
              